
.row {
    padding: 20px;
    border: none;
}
td {
    border: none;
    margin-left: 5%;
    padding: 10px;
} 
footer {
    background-color: black;
    bottom: 0%;
    height: 30%;
}
h5 {
    color: ghostwhite;
}

